if ARCH_SC8810

comment "SC8810 Board Type"

config ARCH_SC7710
	bool "SPREADTRUM SC7710"
	help
	  Support for Spreadtrum sc7710 based systems.

choice
	prompt "SC8810 Board"

config MACH_OPENPHONE_SC6820
       default n
       bool "6820 OpenPhone"
       help
         6820 openphone board based on SC8810.

config MACH_SP8810EA
	default n
	bool "SP8810EA Phone"
	help
	  SP8810EA phone board based on SC8810.

config MACH_SP8810EB
	default n
	bool "SP8810EB Phone"
	help
	  SP8810EB phone board based on SC8810.

config MACH_SP8810EC
	default n
	bool "SP8810EC Phone"
	help
	  SP8810EC phone board based on SC8810.

config MACH_SP8810GA
	default n
	bool "SP8810GA Phone"
	help
	  SP8810GA phone board based on SC8810.

config MACH_SP8810GB
	default n
	bool "SP8810GB Phone"
	help
	  SP8810GB phone board based on SC8810.

config MACH_SP6820GA
	default n
	bool "SP6820GA Phone"
	help
	  SP6820GA phone board based on SC8810.

config MACH_AMAZING
	default n
	bool "AMAZING Phone"
	help
	  AMAZING phone board based on SC8810.

config MACH_MINT
	default n
	bool "MINT Phone"
	help
	  MINT phone board based on SC6820.

config MACH_KYLETD
	default n
	bool "KYLETD Phone"
	help
	  KYLETD phone board based on SC8810.

config MACH_KYLEW
	default n
	bool "KYLEW Phone"
	help
	  KYLETD phone board based on SC8810.


config MACH_Z788
	default n
	bool "Z788 Phone"
	help
	  Z788 phone board based on SC8810.

config MACH_SP7710G_OPENPHONE
	select ARCH_SC7710
	bool "SP7710G fpga and openphone board"
	help
	  SP7710G fpga and openphone based on ARCH_SC7710.

config MACH_SP7702
	default n
	bool "SP7702 phone"
	help
	  SP7702 phone board base on SC8810 with sc7701 modem.

endchoice

config SPRD_PMEM_SIZE
        int "size for /dev/pmem"
        range 1 16
        default 8
	depends on ANDROID_PMEM

config SPRD_PMEM_ADSP_SIZE
        int "size for /dev/pmem_adsp"
        range 1 64
        default 22
	depends on ANDROID_PMEM

config SPRD_ION_SIZE
        int "size for /dev/ion"
        range 1 64
        default 24
	depends on ION

config SPRD_ION_OVERLAY_SIZE
        int "size for /dev/ion"
        range 0 64
        default 0
	depends on ION

config SC8810_VIBRATOR
        depends on ARCH_SC8810
        select ANDROID_TIMED_OUTPUT
        default n
        bool "vibrator for SC8810"

config SS_VIBRATOR
        depends on ARCH_SC8810
        select ANDROID_TIMED_OUTPUT
        default n
        bool "SS vibrator for SC8810"

config SPRD_MEM_POOL
	depends on ARCH_SC8810
	default n
        bool "Using a memory pool to alloc thread stack and pgd table"
	help
          This option enables memmory pool for allocating thread stack and pgd table.

config SPRD_DCDC_DEBUG
	depends on ARCH_SC8810
	default y
    tristate "Enable dcdc debug module"
	help
          This option select dcdc debug module.

config SC8810_DDR_6G
        depends on ARCH_SC8810
        default n
        bool "SC8810 feature to use 6Gb DDR"

endif
