# to add sprd busmonitor configs
config SPRD_BUSMONITOR_CORE
	tristate "SPRD BusMonitor Core"
	depends on ARCH_SC8825
	default y

config SPRD_BUSMONITOR
	tristate "SPRD BusMonitor Low Level Driver"
	depends on SPRD_BUSMONITOR_CORE=y
	depends on ARCH_SC8825
	default y
	
